.course {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;}

    .course .parcours {
        margin-top: 30px;
        width: 100%;
        padding: 1em 0;
        position: relative;}

        
    .parcours:after {
        content: "";
        display: table;
        clear: both; }
    .parcours:before {
        content: "";
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: var(--back); }

                
.parcours-separation:before {
    background: linear-gradient(180deg, var(--back) 40%,rgba(234,234,236,.45) 100%); }


.parcours-experience {
    position: relative;
    margin: 2em 0; }
    .parcours-experience>div {
        min-height: 1px; }
    .parcours-experience:after {
        content: "";
        display: table;
        clear: both; }
    .parcours-experience:first-child {
        margin-top: 0; }
    .parcours-experience:last-child {
        margin-bottom: 0; }

        
.parcours-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 40px;
    border-radius: 50%;
    background: var(--back);
    -webkit-box-shadow: 0 0 0 4px #fff,inset 0 2px 0 rgba(0,0,0,.08),0 3px 0 4px rgba(0,0,0,.05);
    box-shadow: 0 0 0 4px var(--back), inset 0 2px #dbc9ac, 0 3px 0 4px #dbc9ac; }
    .parcours-icon i {
        color: var(--seconde) !important;
        font-size: 120%; }


.parcours-infos {
    position: relative;
    margin-left: 60px;
    border-radius: .5em;
    padding: 1em;
    background: var(--premiere);
    color: #292929;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 4px 6px -2px rgba(0, 0, 0, 0.05); }
    .parcours-infos:after {
        content: "";
        display: table;
        clear: both; }
    .parcours-infos .ecole-entreprise {
        color: var(--bg-card);
        font-weight: 600;
        font-variant-caps: small-caps; }
    .parcours-infos .diplome-entreprise {
        padding: 0;
        margin: 0;
        padding-top: 5px; }
    .parcours-infos .lieu-mention {
        font-style: italic;
        padding-top: 3px;
        margin-bottom: 0;
        font-size: small; }
        .parcours-infos .parcours-date {
            float: left;
            opacity: .7 }
            .parcours-infos .parcours-date p {
                padding: 0;
                margin: 0;
                font-variant-caps: petite-caps;
                font-size: large; }
    .parcours-fleche {
        content: "";
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 10px solid var(--back); }
    

@media only screen and (min-width: 1170px) {
    .parcours-colonnes:before {
        left: 50%;
        margin-left: -2px }
    .parcours-experience {
        margin: 3.5em 0; }
        .parcours-experience:first-child {
            margin-top: 0; }
        .parcours-experience:last-child {
            margin-bottom: 0; } 
    .parcours-colonnes .parcours-icon {
        width:60px;
        height: 60px;
        left: 50%;
        margin-left: -30px; }
    .parcours-colonnes .parcours-infos {
        margin-left:0;
        padding: 1.5em;
        width: 44% }
        .parcours-colonnes .parcours-infos .parcours-date {
            position: absolute;
            width: 100%;
            left: 124%;
            top: 16px; }
    .parcours-colonnes .parcours-fleche {
        top: 24px;
        left: 100%;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
    .parcours-colonnes .parcours-experience.parcours-element--right .parcours-infos,
    .parcours-colonnes .parcours-experience:nth-child(even):not(.parcours-element--left) .parcours-infos {
        float: right; }
    .parcours-colonnes .parcours-experience.parcours-element--right .parcours-fleche,
    .parcours-colonnes .parcours-experience:nth-child(even):not(.parcours-element--left) .parcours-fleche {
        top: 24px;
        left: auto;
        right: 100%;
        -webkit-transform: rotate(0);
        transform: rotate(0); }
    .parcours--one-column-right .parcours-experience.parcours-element--right .parcours-fleche,
    .parcours--one-column-right .parcours-experience:nth-child(even):not(.parcours-element--left) .parcours-fleche {
        top: 24px;
        left: 100%;
        right: auto;
        -webkit-transform: rotate(0);
        transform: rotate(0); }
    .parcours-colonnes .parcours-experience.parcours-element--right .parcours-infos .parcours-date,
    .parcours-colonnes .parcours-experience:nth-child(even):not(.parcours-element--left) .parcours-infos .parcours-date {
        left: auto;
        right: 124%;
        text-align: right; }
}